// USER
@font-face {
  font-family: "JetBrainsMonoNerd";
  src: url("/fonts/JetBrainsMonoNLNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "JetBrainsMonoNerd", sans-serif;
}

.badge {
  background-color: #9e8c6c;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.8em;
  font-weight: 200;
  font-family: "JetBrainsMonoNerd", sans-serif;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}

.date {
  padding-top: 6px;
  font-family: "JetBrainsMonoNerd", sans-serif;
  font-size: 0.8em;
}
